<h1>Receipt added!</h1>
<p><%= "#{@new_recipe.name}" %> est <%= "#{@new_recipe.difficulty.downcase}"%> à faire et doit cuire <%= "#{@new_recipe.cooking_time} minutes"%></p>
<a href=/>Click</a> to go back to homepage<br>
<a href=/list>Click</a> to see all recipes
