<h1>Import a new recipe from Marmiton</h1>
<form action="/import_run" method="post">
  With what ingredient do you want your recipe?
  <input type="text" name="ingredient" value="Ingredient"><br>
  What difficulty are you looking for?
  <input type="radio" name="difficulty" value="0"> All
  <input type="radio" name="difficulty" value="1"> Very easy
  <input type="radio" name="difficulty" value="2"> Easy
  <input type="radio" name="difficulty" value="3"> Medium
  <input type="radio" name="difficulty" value="4"> Hard<br>
  <input type="submit" value="Submit">
</form>
