<h1>Welcome to Cookbook Online</h1>

<p>
  <ul>
    <li><a href=http://localhost:4567/list>Click</a> to <em>list</em> recipes</li>
    <li><a href=http://localhost:4567/create>Click</a> to <em>create</em> a recipe</li>
    <li><a href=http://localhost:4567/destroy>Click</a> to <em>delete</em> a recipe</li>
    <li><a href=http://localhost:4567/import>Click</a> to <em>import</em> a recipe from Marmiton</li>
    <li><a href=http://localhost:4567/mark_as_done>Click</a> to <em>check</em> a recipe</li>
  </ul>
</p>
