<h1>Cookbook list</h1>

<% @recipes.each_with_index do |recipe, index|
  check = recipe.done ? "[X]" : "[&nbsp&nbsp]" %>
  <li>
    <%= "#{check} #{index + 1} - #{recipe.name}: #{recipe.description}, #{recipe.difficulty} à faire, #{recipe.cooking_time} minutes de cuisson" %>
  </li>
<% end %>
<br>
<a href=http://localhost:4567>Click</a> to go back to homepage
